.container {
  .search_and_filter {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    padding: 16px;
    align-items: center;
  }
}

.specialization {
  display: flex;
  flex-direction: column;
}